*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 20px;
    margin: 20px;
} */

/* h1{
    display: inline-block;
    border: 2px solid red;
    width: 100px;
    height: 200px;
} */


